[submodule "src/libraries/discord-rpc"]
	path = src/libraries/discord-rpc
	url = https://github.com/discord/discord-rpc
[submodule "src/libraries/json"]
	path = src/libraries/json
	url = https://github.com/nlohmann/json
[submodule "src/libraries/dralyxor"]
	path = src/libraries/dralyxor
	url = https://github.com/ocalasans/dralyxor
